.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
**/*.iml
*.dex
*.apk
*.ap_
.classpath
.project
.idea
.gradle
build/
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
